### 6.2 二进制数据格式

In [1]:
import pandas as pd
import numpy as np

frame = pd.read_csv("../examples/ex1.csv")
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [2]:
frame.to_pickle("../examples/frame_pickle")

In [3]:
pd.read_pickle("../examples/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 使用HDF5格式

In [4]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [5]:
store['obj1']

           a
0   0.585456
1  -1.370871
2  -0.315479
3  -0.046544
4  -1.527353
..       ...
95  0.820881
96 -0.177565
97 -0.190257
98  0.337328
99  0.788444

[100 rows x 1 columns]

In [6]:
store.put('obj2', frame, format='table')
store.select('obj2', where=["index >= 10 and index <= 15"])

           a
10  0.757167
11  0.572392
12 -0.364573
13  0.730936
14  0.858654
15 -0.887850

In [7]:
store.close()

In [8]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=["index < 5"])

          a
0  0.585456
1 -1.370871
2 -0.315479
3 -0.046544
4 -1.527353

#### 读取Microsoft Excel文件

In [9]:
xlsx = pd.ExcelFile("../examples/ex1.xlsx")
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [10]:
frame = pd.read_excel("../examples/ex1.xlsx", 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [11]:
writer = pd.ExcelWriter("../examples/ex2.xlsx")
frame.to_excel(writer, 'Sheet1')
writer.save()

In [12]:
frame.to_excel("../examples/ex2.xlsx")

### 6.3 Web APIs交互

In [13]:
import requests

url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
resp

In [14]:
data = resp.json()
data[0]['title']

'ENH: Support partitioning by index (especially multi-index columns) in to_parquet'

In [15]:
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues

,number,title,labels,state
0,47797,ENH: Support partitioning by index (especially...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
1,47796,DEPS: drop np19 support,[],open
2,47795,Backport PR #47792 on branch 1.4.x (DOC: Fix v...,[],open
3,47794,BUG: fixed OutOfBoundsDatetime exception when ...,[],open
4,47793,TST: test for inconsistency due to dtype=strin...,[],open
5,47791,BUG: failed to use slice(None) in list of labe...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
6,47790,# DEV: Gitpod integration,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
7,47789,BUG: Interchange `Column.null_count` is a 0d N...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
8,47787,BUG: Groupby on a partial index with fillna dr...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
9,47786,DOC: Potential issue with creating development...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
10,47785,DOC: Improvement suggestion for python code block,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
11,47782,Concatenating unordered ``CategoricalIndex`` o...,[],open
12,47781,PERF: Bypass chunking/validation logic in Stri...,[],open
13,47780,"BUG: PeriodIndex fails to handle NA, rather th...",[],open
14,47779,ENH/PERF: efficient argmax/argmin for SparseArray,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
15,47776,BUG: np_can_hold_element raising for numpy_dty...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,47774,BUG: Fix fillna on multi indexed Dataframe doe...,[],open
17,47773,REF: avoid converting input to cut if passing ...,[],open
18,47772,API: IntervalIndex.get_indexer not strict abou...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
19,47771,REGR: fix pd.cut with datetime IntervalIndex a...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
20,47762,REGR: preserve reindexed array object (instead...,"[{'id': 13098779, 'node_id': 'MDU6TGFiZWwxMzA5...",open
21,47761,DEPR: returning tuple when grouping by a list ...,[],open
22,47760,TYP: Use stubtest to ensure consistency with p...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
23,47759,Require 2FA on github,"[{'id': 32933285, 'node_id': 'MDU6TGFiZWwzMjkz...",open
24,47751,FIX: REGR: setting numeric value in Categorica...,[],open
25,47745,BUG: Behavior with fallback between raise and ...,[],open
26,47744,ENH/TST: Add quantile & mode tests for ArrowEx...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
27,47743,BUG: groupby transform functions ignore dropna,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,47742,DOC: Clarify return type cases in pandas.unique,[],open
29,47737,BUILD: install from source fails using Docker ...,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open

#### 6.4 数据库交互

In [16]:
import sqlite3

query = """
    CREATE TABLE test
    (a VARCHAR(20), b VARCHAR(20),
    C REAL, d INTEGER
    );"""

con = sqlite3.connect("mydata.sqlite")
con.execute(query)

In [17]:
con.commit()

In [18]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

In [19]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)

cursor = con.execute("select * from test")
rows  = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [20]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('C', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [21]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     C  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5