### 7.1 处理缺失数据

In [2]:
import pandas as pd
import numpy as np

string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [3]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

#### 滤除缺失数据

In [5]:
from numpy import nan as NA

data = pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [6]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [8]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [9]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [10]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [11]:
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [12]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [13]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0 -1.237595       NaN       NaN
1  0.298761       NaN       NaN
2 -0.494405       NaN -1.475166
3 -0.025837       NaN  1.193407
4 -0.507564 -0.952179  1.591862
5  0.234472 -0.845373  0.995425
6  0.380269  0.666947 -0.163196

In [14]:
df.dropna()

          0         1         2
4 -0.507564 -0.952179  1.591862
5  0.234472 -0.845373  0.995425
6  0.380269  0.666947 -0.163196

In [17]:
df.dropna(thresh=2)

          0         1         2
2 -0.494405       NaN -1.475166
3 -0.025837       NaN  1.193407
4 -0.507564 -0.952179  1.591862
5  0.234472 -0.845373  0.995425
6  0.380269  0.666947 -0.163196